{
  "development": {
    "host": "",
    "username": "halo",
    "password": "",
    "database": "halo",
    "dialect": "mysql"
  },
  "development-local": {
    "username": "root",
    "password": "password",
    "database": "halo_dev",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "test": {
    "username": "root",
    "password": null,
    "database": "database_test",
    "host": "127.0.0.1",
    "dialect": "mysql"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
